{
    "plugins": ["prettier-plugin-blade", "@prettier/plugin-php"],
    "overrides": [
        {
            "files": ["*.blade.php", "*.php"],
            "options": {
                "parser": "blade"
            }
        }
    ]
}
